<div class="row">
    <div class="card advertise" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">광고주님들을 기다립니다</h5>
            <p class="card-text">창 최대 커뮤니티에서 대표님의 사업장·팀빌딩·아이템을 홍보해보세요!</p>
            <a href="https://sparta-chang.slack.com/team/U04H2E86WFP" target="_blank"
               class="btn btn-primary">19조에 연락하기</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="card advertise" style="width: 18rem;">
        <img class="card-img-top" src="/static/IMG_0678.jpg" alt="광고">
        <div class="card-body">
            <h5 class="card-title">사장님이 미쳤어요 2탄!!!</h5>
            <p class="card-text">이번주까지만 진행하는 <strong>와인 특가 31000원</strong></p>
            <a href="https://sparta-chang.slack.com/team/U04H2E86WFP" target="_blank"
               class="btn btn-primary">미친 가격에 주문하기</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="card advertise" style="width: 18rem;">
        <img class="card-img-top" src="/static/pouch.jpg" alt="광고">
        <div class="card-body">
            <h5 class="card-title">깔끔한 루틴 케어 파우치</h5>
            <p class="card-text">바쁜 {창}업가의 일상을 효율적으로 정리해줄 <strong>비장의 무기</strong></p>
            <a href="https://forms.gle/jmgWK4Kh3RnXNUkz7" target="_blank" class="btn btn-primary">컬러풀 파우치 구경하러 가기</a>
            <!--                        <a href="https://chang.spartacodingclub.kr/profiles/63c2707bb13e0535f4afe7d1" target="_blank" class="btn btn-primary">이지윤 프로필 보기</a>-->
            <!--                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        </div>
    </div>
</div>
<div class="row">
    <div class="card advertise" style="width: 18rem;">
        <!--                    <img src="/static/ad1.jpg" class="card-img-top" alt="광고">-->
        <div class="card-body">
            <h5 class="card-title">법조 분야의 창업을 꿈꾸시는 분</h5>
            <p class="card-text">업무툴 관련 사업에 관심 있으신 분의 연락을 기다립니다.</p>
            <a href="https://sparta-chang.slack.com/team/U04DYPV2KH8" target="_blank"
               class="btn btn-primary">Slack 프로필 연결</a>
        </div>
    </div>
</div>