<div class="row">
    <div class="card advertise" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">광고주님들을 기다립니다</h5>
            <p class="card-text">창 최대 커뮤니티에서 대표님의 사업장·팀빌딩·아이템을 홍보해보세요!</p>
            <a href="https://sparta-chang.slack.com/team/U04H2E86WFP" target="_blank"
               class="btn btn-primary">19조에 연락하기</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="card advertise" style="width: 18rem;">
        <img class="card-img-top" src="/static/ad1.jpg" alt="광고">
        <div class="card-body">
            <h5 class="card-title">블라인드 {창} 에 광고해보세요</h5>
            <p class="card-text">끊임없이 묻히는 슬랙 광고.. 지치지 않으셨나요?</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="card advertise" style="width: 18rem;">
        <img class="card-img-top" src="/static/2.png" alt="광고">
        <div class="card-body">
            <h5 class="card-title">책을 좋아하는 분들과 함께 일하고 싶어요 :)</h5>
            <p class="card-text">관심있으신 분들의 슬랙 DM 을 기다립니다!</p>
            <a href="https://sparta-chang.slack.com/team/U04DJJ34YRW" target="_blank" class="btn btn-primary">➡️ slack 프로필 연결 ⬅️</a>
            <!--                        <a href="https://chang.spartacodingclub.kr/profiles/63c2707bb13e0535f4afe7d1" target="_blank" class="btn btn-primary">이지윤 프로필 보기</a>-->
            <!--                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        </div>
    </div>
</div>
<div class="row">
    <div class="card advertise" style="width: 18rem;">
        <!--                    <img src="/static/ad1.jpg" class="card-img-top" alt="광고">-->
        <div class="card-body">
            <h5 class="card-title">법조 분야의 창업을 꿈꾸시는 분</h5>
            <p class="card-text">업무툴 관련 사업에 관심 있으신 분의 연락을 기다립니다.</p>
            <a href="https://sparta-chang.slack.com/team/U04DYPV2KH8" target="_blank"
               class="btn btn-primary">Slack 프로필 연결</a>
        </div>
    </div>
</div>