<div class="row">
    <div class="card advertise" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">광고주님들을 기다립니다</h5>
            <p class="card-text">창 최대 커뮤니티에서 대표님의 사업장·팀빌딩·아이템을 홍보해보세요!</p>
            <a href="https://sparta-chang.slack.com/team/U04H2E86WFP" target="_blank"
               class="btn btn-primary">19조에 연락하기</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="card advertise" style="width: 18rem;">
        <img class="card-img-top" src="/static/돼지고기.png" alt="광고">
        <div class="card-body">
            <p class="card-text">사장님이 미쳤어요!! 돼지고기 창 대상 특별할인 <strong>6kg 19900원</strong></p>
            <a href="https://sparta-chang.slack.com/team/U04H2E86WFP" target="_blank"
               class="btn btn-primary">미친가격에 구매하기</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="card advertise" style="width: 18rem;">
        <img class="card-img-top" src="/static/전설의_시작.jpg" alt="광고">
        <div class="card-body">
            <h5 class="card-title">프로필 촬영 서비스</h5>
            <p class="card-text">다음 주 화요일 사전예약 오픈! <br>증명사진보다 저렴한 프로필 사진 <strong>9,800원</strong></p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScNBmbov28opdNJt5QNMPG5e2QjWl9wsrJ4549XP9DJLtLWTw/viewform" target="_blank" class="btn btn-primary">➡️신청 링크⬅️</a>
            <!--                        <a href="https://chang.spartacodingclub.kr/profiles/63c2707bb13e0535f4afe7d1" target="_blank" class="btn btn-primary">이지윤 프로필 보기</a>-->
            <!--                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        </div>
    </div>
</div>
<div class="row">
    <div class="card advertise" style="width: 18rem;">
        <!--                    <img src="/static/ad1.jpg" class="card-img-top" alt="광고">-->
        <div class="card-body">
            <h5 class="card-title">법조 분야의 창업을 꿈꾸시는 분</h5>
            <p class="card-text">업무툴 관련 사업에 관심 있으신 분의 연락을 기다립니다.</p>
            <a href="https://sparta-chang.slack.com/team/U04DYPV2KH8" target="_blank"
               class="btn btn-primary">Slack 프로필 연결</a>
        </div>
    </div>
</div>