<div class="events">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">스타벅스 기프티콘</h5>
            <div class="events-emoji">☕</div>
            <div class="events-body">
                <strong>0.1%</strong> 확률로 스타벅스 기프티콘<br>
                무제한 시도 가능
            </div>
            <button onclick="get_randint()" type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#luckyBox">
                지금 도전
            </button>
        </div>
    </div>
</div>
<div class="events">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">포춘쿠키</h5>
            <div class="events-emoji">🥠</div>
            <div class="events-body">
                오늘 나의 운은?
            </div>
            <button onclick="get_fortune()" type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#fortuneBox">
                알려주세요
            </button>
        </div>
    </div>
</div>
<div class="events">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <img class="card-img-top" src="/static/balance0.png" alt="광고">
            <p><br>To Be Continued</p>
<!--            <button onclick="get_fortune()" type="button" class="btn btn-primary" data-bs-toggle="modal"-->
<!--                    data-bs-target="#fortuneBox">-->
<!--                지금 시작-->
<!--            </button>-->
        </div>
    </div>
</div>

<!-- Lucky Box Modal -->
<div class="modal fade" id="luckyBox" tabindex="-1" aria-labelledby="luckyBoxLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100 modal-title-lucky" id="luckyBoxTitle"></h5>
                <!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            </div>
            <div class="modal-body modal-body-lucky">
                <p id="luckyBoxemoji" style="font-size:120px;"></p>
                <p id="luckyBoxBody"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- Fortune Box Modal -->
<div class="modal fade" id="fortuneBox" tabindex="-1" aria-labelledby="fortuneBoxLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100" id="fortuneBoxTitle">포춘쿠키 가라사대...</h5>
                <!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            </div>
            <div class="modal-body modal-body-fortune">
                <p id="fortuneBoxBody"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>