<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="{창} 익명 방명록"/>
    <meta property="og:description" content="솔직한 의견을 가감없이 표출해보세요!"/>
    <meta property="og:image"
          content="/static/meta.png"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f3e69e304d.js" crossorigin="anonymous"></script>
    <title>블라인드 {창}</title>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
          rel="stylesheet">
    <style>
        * {
            font-family: 'Noto Serif KR', serif;
        }

        .mypic {
            width: 100%;
            height: 200px;

            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/static/chang_logo.png');
            background-position: 70% 50%;
            background-size: 320px;
            background-color: #BF303C;
            background-repeat: no-repeat;

            color: white;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            font-weight: bold;
        }

        .mypost {
            width: 100%;
            max-width: 600px;
            margin: 20px auto 20px auto;

            box-shadow: 0px 0px 3px 0px black;
            padding: 20px;
        }

        .popular-post {
            width: 100%;
            max-width: 600px;
            margin: 20px auto 20px auto;

            box-shadow: 0px 0px 3px 0px black;
            padding: 20px;
        }

        .popular-post-title {
            text-align: center;
            font-weight: bold;
        }

        .lottery {
            width: 100%;
            max-width: 600px;
            margin: auto auto 20px auto;

            box-shadow: 0px 0px 3px 0px black;
            padding: 20px 20px 30px 20px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .lottery-title {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .lottery-img {
            font-size: 60px;
        }

        .lottery-body {
            margin: 10px auto 30px auto;
            text-align: center;
        }

        .advertise {
            margin-top: 20px;
        }

        .more {
            padding-bottom: 5px;
            color: gray;
            font-size: small;
            padding-left: 20px;
            cursor: pointer;
        }

        .mypost > button {
            margin-top: 15px;
        }

        .mycards {
            width: 100%;
            max-width: 600px;
            margin: auto;
        }

        .mycards > .card {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .modal-body-lucky {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .modal-title-lucky w-100 {
            font-weight: bold;
        }

        i {
            cursor: pointer;
        }
    </style>
    <script>
        $(document).ready(function () {
            set_num()
            show_post(1)
            get_randint()
            show_acc()
        });

        function randomIntFromInterval(min, max) { // min and max included
            return Math.floor(Math.random() * (max - min + 1) + min)
        }

        function set_num() {
            $('#temp').text(randomIntFromInterval(3, 8));
        }

        function save_post() {
            let nick_name = $('#name').val();
            let content = $('#content').val();
            let title = $('#post_title').val();
            if (content === "") {
                alert("내용칸이 비어있네요!😮 어떤 얘기도 좋아요 ")
                return
            }
            if (nick_name === ""){
                alert("닉네임을 작성해주세요! 익명보장되니깐요 😉")
                return
            }

            if (title === ""){
                alert("제목을 깜빡하신 것 같습니다 대표님😎")
                return
            }

            $.ajax({
                type: 'POST',
                url: '/blind',
                data: {
                    nick_name: nick_name,
                    content: content,
                    title: title
                },
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }

        function save_comment() {
            let comment = $('#comment-form').val();
            let current_post_id = $('#postModal').data('current-post');
            let nickname = $('#nickname-form').val();
            if (comment === "") {
                alert("댓글칸이 비어있네요 대표님!")
                return
            }
            if (nickname === ""){
                alert("닉네임칸이 비어있네요 대표님!")
                return
            }
            $.ajax({
                type: 'POST',
                url: '/blind/comment',
                data: {
                    comment: comment,
                    post_id: current_post_id,
                    nick_name: nickname
                },
                success: function (response) {
                    //alert(response['msg']);
                    $('#comment-form').val("");
                    changeModal(current_post_id);
                }
            });
        }

        function changeModal(post_id) {
            //alert(post_id)
            $.ajax({
                type: 'GET',
                url: `/blind/one-post?post_id=${post_id}`,
                data: {},
                success: function (response) {
                    $('#comment_list').empty();
                    let post_author = response['nick_name']
                    let content = response['content']
                    let title = response['title']

                    $('#post-title-modal').text(title);
                    $('#post-author-modal').text(post_author);
                    $('#post-content-modal').text(content);
                    $('#postModal').data('current-post', post_id)


                    let comments = response['comments'];
                    for (let i = 0; i < comments.length; i++) {
                        let comment_author = comments[i]['nick_name']
                        let comment = comments[i]['comment']
                        let comment_html = `
                        <li class="list-group-item d-flex justify-content-between">
                                <div class="ms-2 me-auto">
                                    <small class="text-muted">${comment_author}</small>
                                    <div>${comment}</div>
                                </div>
                            </li>
                        `
                        $('#comment_list').append(comment_html)
                    }
                }
            })
        }

        function range(start, stop) {
            var a = [start], b = start;
            while (b < stop) {
                a.push(b += 1);
            }
            return a;
        }

        function show_acc() {
            $.ajax({
                type: "GET",
                url: `/blind/acc`,
                data: {},
                success: function (response) {
                    let total_views = response['total_views']
                    $('#acc_num').text(total_views)
                }

            })
        }

        function show_post(page_num) {
            $.ajax({
                type: "GET",
                url: `/blind?page=${page_num}`,
                data: {},
                success: function (response) {
                    let username = response['username']
                    if (username !== "") {
                        $('#name').val(username);
                        $('#nickname-form').val(username);
                        //$("#name").attr("disabled", true);
                    }

                    $('#post-list').empty();
                    $('#button-list').empty();
                    $('#popular_list').empty();
                    let popular_posts = response['popular_posts']
                    let rows = response['posts']

                    let current_page = page_num;
                    let total_pages = Math.ceil(response['post_num'] / 5);
                    let window = 3

                    let start = current_page - window
                    let end = current_page + window

                    if (start <= 0) {
                        end = end - start + 1;
                        start = 1;
                    }
                    if (end > total_pages) {
                        end = total_pages;
                        start = Math.max(end - (window * 2) + 1, 1)
                    }

                    let buttons = range(start, end)
                    console.log(buttons)

                    let previous_disabled = ""
                    let next_disabled = ""
                    console.log(total_pages, page_num)

                    if (current_page === 1) {
                        previous_disabled = "disabled"
                    }
                    if (current_page === total_pages) {
                        next_disabled = "disabled"
                    }
                    let first_button = `
                        <li class="page-item ${previous_disabled}"><a class="page-link" href="javascript:show_post(${current_page - 1})" tabindex="-1"><</a>
                    </li>`

                    let last_button = `
                        <li class="page-item ${next_disabled}"><a class="page-link" href="javascript:show_post(${current_page + 1})" tabindex="-1">></a>
                    </li>
                    `
                    $('#button-list').append(first_button)
                    // 앞부분
                    for (let i = 0; i < buttons.length; i++) {
                        let button_num = buttons[i]
                        let active = ""
                        if (button_num === current_page) {
                            active = "active"
                        }
                        let button_html = `
                            <li class="page-item ${active}"><a class="page-link" href="javascript:show_post(${button_num})">${button_num}</a></li>
                        `
                        $('#button-list').append(button_html)
                    }
                    $('#button-list').append(last_button)
                    // paging 끝

                    // 실시간 인기 post 나열
                    for (let i = 0; i < popular_posts.length; i++) {
                        let title = popular_posts[i]['title'];
                        let comments = popular_posts[i]['comments'];
                        let post_id = popular_posts[i]['post_id'];
                        let temp_html = `
                            <li class="list-group-item d-flex justify-content-between align-items-start" data-bs-toggle="modal" data-bs-target="#postModal" onclick="changeModal(${post_id})">
                                <div class="ms-2 me-auto text-truncate">
                                    ${title}
                                </div>
                                <span class="badge bg-primary rounded-pill">${comments}</span>
                            </li>
                        `
                        $('#popular_list').append(temp_html)
                    }


                    // post 나열
                    for (let i = 0; i < rows.length; i++) {
                        let nick_name = rows[i]['nick_name'];
                        let content = rows[i]['content'];
                        let title = rows[i]['title']
                        let post_id = rows[i]['post_id']
                        let views = rows[i]['views']
                        let comments = rows[i]['comments']
                        console.log(nick_name, content, title)
                        let temp_html = `
                        <div class="card" data-bs-toggle="modal" data-bs-target="#postModal" onclick="changeModal(${post_id})">
                            <div class="card-body">
                               <p class="card-text"><small class="text-muted">${nick_name}</small></p>
                              <h5 class="card-title text-truncate" style="max-width: 330px;">${title}</h5>
                              <span class="card-text d-inline-block text-truncate" style="max-width: 330px;">${content}</span>
                            </div>
                            <div class="card-footer">
                              <div class="container">
                              <div class="row">
                              <div class="col-md-8 d-flex justify-content-center">

                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                <i class="fa-regular fa-comment"><small class="text-muted"> ${comments} </small></i>
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                <i class="fa fa-eye"><small class="text-muted"> ${views} </small></i>
                                </div>
                                </div>
                                </div>
                            </div>
                        </div>`
                        $('#post-list').append(temp_html);
                    }
                }
            });
        }

        function get_randint() {
            $.ajax({
                type: 'GET',
                url: '/randint',
                data: {},
                success: function (response) {
                    $('#luckyBoxTitle').empty()
                    $('#luckyBoxBody').empty()
                    let lucky_num = response["lucky_num"]
                    let lucky_title = "축하합니다"
                    let lucky_body = `<img class="card-img-top" src="/static/success.png" style="width:250px; height:250px;" alt="광고">`
                        // <br>
                        // <br>
                        // 스타벅스 기프티콘 당첨되셨어요.`
                    let unlucky_title = "아쉽군요"
                    let unlucky_body = `<img class="card-img-top" src="/static/fail.png" style="width:250px; height:250px;" alt="광고">`
                        // <br>
                        // <br>
                        // 꽝입니다.`
                    if (lucky_num == 1) {
                        $('#luckyBoxTitle').append(lucky_title)
                        $('#luckyBoxBody').append(lucky_body)
                    }
                    else {
                        $('#luckyBoxTitle').append(unlucky_title)
                        $('#luckyBoxBody').append(unlucky_body)
                    }
                }
            });
        }
    </script>
</head>
<body>
<div class="mypic">
    <h1 style="font-size:60px" >블라인드{창}</h1>
    <br>
<!--    <h4>"소곤소곤"</h4>-->
    <p>현재 접속 중인 인원: <span id="temp">36</span>명 / 누적 조회수: <span id="acc_num">36</span></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="card advertise" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">광고주님들을 기다립니다</h5>
                        <p class="card-text">창 최대 커뮤니티에서 대표님의 사업장·팀빌딩·아이템을 홍보해보세요!</p>
                        <a href="https://sparta-chang.slack.com/team/U04H2E86WFP" target="_blank" class="btn btn-primary">19조에 연락하기</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card advertise" style="width: 18rem;">
                    <img class="card-img-top" src="/static/ad1.jpg" alt="광고">
                    <div class="card-body">
                        <p class="card-text">블라인드를 {창} 에 적용시킨 익명 플랫폼 - 당연히 익명이고, 게다가 무료입니다!</p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card advertise" style="width: 18rem;">
                    <img class="card-img-top" src="/static/ad1.jpg" alt="광고">
                    <div class="card-body">
                        <h5 class="card-title">웹사이트 제작 비법 공개</h5>
                        <p class="card-text">19조로 연락주시면 가감없이 공개하겠습니다!</p>
<!--                        <a href="https://chang.spartacodingclub.kr/profiles/63c2707bb13e0535f4afe7d1" target="_blank" class="btn btn-primary">이지윤 프로필 보기</a>-->
<!--                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card advertise" style="width: 18rem;">
<!--                    <img src="/static/ad1.jpg" class="card-img-top" alt="광고">-->
                    <div class="card-body">
                        <h5 class="card-title">법조 분야의 창업을 꿈꾸시는 분</h5>
                        <p class="card-text">업무툴 관련 사업에 관심 있으신 분의 연락을 기다립니다.</p>
                        <a href="https://sparta-chang.slack.com/team/U04DYPV2KH8" target="_blank" class="btn btn-primary">Slack 프로필 연결</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mypost">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="name" placeholder="url">
                    <label for="name">닉네임</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="post_title" placeholder="url">
                    <label for="post_title">제목</label>
                </div>
                <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="content"
                  style="height: 100px"></textarea>
                    <label for="content">어떤 얘기도 좋아요. 솔직한 의견을 남겨주세요!</label>
                </div>한
                <button onclick="save_post()" type="button" class="btn btn-dark">마음의 소리 입력</button>
            </div>
            <div class="mycards" id="post-list">
                <!-- 댓글 삽입 -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="popular-post">
                    <div class="popular-post-title">
                        <p>실시간 인기글 Top 5</p>
                    </div>
                    <ol class="list-group list-group-numbered" id="popular_list">

                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="lottery">
                    <div class="lottery-title">
                        행운을 뽑아보세요
                    </div>
                    <div class="lottery-img">
                        🎁
                    </div>
                    <div class="lottery-body">
                        블라인드 {창}이 여러분들에게 오늘 하루 딱 <strong>3장</strong>의 스타벅스 쿠폰을 쏩니다!
                    </div>
                    <button onclick="get_randint()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#luckyBox">
                        눌러보세요
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="lottery">
                    <div class="lottery-title">
                        what comes next?!!
                    </div>
                    <div class="lottery-img">
                        ？
                    </div>
                    <div class="lottery-body">
                        새로운 서비스를 기획중이에요 ☺️<br>
                        <small class="text-muted">출시 예정일: 1/25 </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="lottery">
                    <div class="lottery-title">
                        what comes next?!!
                    </div>
                    <div class="lottery-img">
                        ？
                    </div>
                    <div class="lottery-body">
                        조금만 기다려주세요! 🤓<br>
                        <small class="text-muted">출시 예정일: 1/25 </small>
                    </div>
                </div>
            </div>

        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" id="button-list">

            </ul>
        </nav>

    </div>
</div>


<!-- Lucky Box Modal -->
<div class="modal fade" id="luckyBox" tabindex="-1" aria-labelledby="luckyBoxLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100 modal-title-lucky" id="luckyBoxTitle"></h5>
                <!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            </div>
            <div class="modal-body modal-body-lucky">
                <p id="luckyBoxBody"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- Post Modal -->
<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true"
     data-current-post="">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="post-title-modal">제목</h5>
                <small class="text-muted" style="margin-left: 15px; margin-bottom: 5px"
                       id="post-author-modal">글쓴이 </small>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" style="padding-bottom: 15px">
                        <div class="me-auto" id="post-content-modal">내용</div>
                    </div>
                    <div class="row">
                        <ul class="list-group list-group-flush" id="comment_list">


                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2" style="margin-right: 0px; padding-right: 0px">
                            <input type="text" class="form-control" id="nickname-form"
                                   placeholder="닉네임">
                        </div>
                        <div class="col-md-8" style="margin-right: 0px; padding-right: 0px">
                            <input type="text" class="form-control" id="comment-form"
                                   placeholder="댓글을 남겨주세요.">
                        </div>
                        <div class="col-md-2" style="margin-right: 0px; padding-right: 0px">
                            <button type="button" class="btn btn-primary" onclick="save_comment()">등록</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>